* {
    box-sizing: border-box;
}
._advLinkDefault {
  text-decoration: none;
  display: block;
}
#_next {
    max-width: 1300px;
    margin: 0 auto;
}
._a {
    text-decoration: none;
    color: #000000;
}
body {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: "times-new-roman-ps-italic";
    src: url(../fonts/times-new-roman-ps-italic.otf);
}
@font-face{
    font-family:  'Open Sans';
    src: url(./fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face{
    font-family:  'Roboto';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}
.HomepagePhoto-Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f7f7f7;
}
.HomepagePhoto{
    width: 100%;
}
.Homepage-SectionTitle {
        /* Style for "New arrivals" */
    text-align: center;
    font-size: 2.1rem;
    margin: 3rem;
    font-family: "Open Sans";
}
._linkBtn {
    display: block;
    text-decoration: none;
    margin: 10vh auto;
    padding: 0 7vw ;
    width: max-content;
    border: 1px solid #e5e5e5;
}

._linkBtn > p{
  color: black;
  margin: 1.5rem 3rem;
  line-height: 1.25;
  font-family: "Open Sans";
}


._linkBtn:hover {
    border-color: #f14a58;
    cursor: pointer;
    
}
._linkBtn:hover > p{
    color:  #f14a58;
}

.HomepagePhoto-PhotoCapture_position{
    position: absolute;
    top: 30px;
    right: 40px;
    margin: 0px;
}
.HomepagePhoto-PhotoCapture_head {
    font-family: "Open Sans";
    /* font-size: 7vw; */
    text-align: center;
}
.HomepagePhoto-PhotoCapture_small {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 4vw;
    /* max-font-size */
    color: #757575;
}

/* @media (min-width: 1024px) {
    .Homepage-SectionNewArrivals {
        justify-content: space-around;
    
    }
} */
